@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    height: 100%;
    margin: 0;
}

html {
    height: 100%;

}

.main-center {
    height: 100%;
    width: 100%;

    display: flex;
}

.content {
    padding: 2em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0.7em;
    transition: all 0.3s ease;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

li:hover {
    text-decoration: underline;
    
}

nav {
    height: 100%;
    background-color: #EAE8FF;

    width: 10em;
    min-width: 10em;

    padding: 1em;

    border-right: 2px solid #4a90e2;
}

.logo {
    height: 60px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  /* Style table headers */
  th {
    background-color: #f2f2f2;
  }
  
  /* Style table rows */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Style table cells */
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
  }

h3 {
    margin: 0;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

tr {
    cursor: pointer;
}

tr:first-child {
    cursor: default;
}

tr:hover {
    background-color: #e5e5e5;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.nou-treballador {
    display: flex;
    flex-direction: column;

    margin-bottom: 1em;
}

.nou-treballador input {
    font-size: 15px;
}

.nou-treballador label, .horari-label {
    font-size: 15px;
    font-weight: 600;
    text-decoration: underline;
}

.horari {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    text-align: center;
}

.calendari-options div {
    display: flex;
    flex-direction: column;
}

.calendari-options label {
    text-decoration: underline;
    font-weight: 600;
    font-size: 15px;
}

.calendari-options {
    margin-bottom: 2em;
    padding-top: 2em;
    margin-top: 1em;

    border-top: 1px solid black;
}

.dia {
    width: -webkit-fill-available;
    padding: 5px;
}

.dia-setmana {
    font-weight: 700;
    text-decoration: underline;
}	

.horari-content {
    background: #97c7ff;
    padding: 1.6em;
    margin-top: 1em;
    width: 100%;
    border: 3px solid black;
    font-weight: 700;
    border-radius: 8px;
    display: flex;
    flex-direction: column; 
    
    position: relative;
}

.horari-content span {
    width: auto;

    text-decoration: none !important;
}

.close-button {
    width: 25px;
    height: 25px;

    position: absolute;

    left: 86%;
    transform: translate(-50%, -50%);
    top: 17%;
    cursor: pointer;

    transition: all 0.2s ease;

    padding: 2px;
    border-radius: 5px;
}

.close-button:hover {
    background-color: #f44336;
}