#display-horari div {
    margin-top: 0.5em;
    margin-bottom: 0.4em;
}

#display-horari span {
    margin-left: 10px;
    margin-right: 10px;
}

input[type=time] {
    border: none;
    font-family: inter, sans-serif;
    padding: 1em;
    background: #d9d9d9;
    border-top-left-radius: 5px;
    cursor: pointer;
    border-top-right-radius: 5px;
    padding-bottom: 6px;
    border-bottom: 2px solid black;
    width: 4em;
    padding: 3px;
}

input[type=time]:focus {
    outline: none;
    border-bottom: 2px solid #4a90e2;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: 0px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width:0px;
}

.afegir-franja {
    margin-top: 1em;
}