@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


@media (max-width: 390px) {
    :root {
        --header-size: 17px;
        --body-size: 15px;
        --menu--max-width: 17em;
    }
}

@media (min-width: 391px) {
    :root {
        --header-size: 22px;
        --body-size: 17px;
        --menu--max-width: 25em;
    }
}


.basic-menu-container {
    display: flex;
    flex-direction: column;
    min-height: 15em;
    max-width: var(--menu--max-width);
    font-family: 'Inter', sans-serif;

    font-size: var(--body-size);
}

.basic-menu-header {
    width: 100%;
    height: 4em;
    background-color: #4A90E2;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basic-menu-header h3 {
    font-weight: 600;
    font-size: var(--header-size);
    margin: 0;
}

.basic-menu-body {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    padding: 2em;
    padding-top: 1em;
    align-items: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.basic-menu-body span {
    margin-top: 0.5em;
    margin-bottom: 0.4em;
    text-align: center;
}

.horari-esperat-h {
    font-size: calc(var(--body-size) + 1px);
    font-weight: 600;
    margin-bottom: 1em;
}

.hores-totals-container {
    margin-top: 2.5em;
    margin-bottom: 1em;
}

.hores-amount {
    font-weight: 700;
    text-decoration: underline;
}

.validar-button {
    margin-top: 1em;
    margin-bottom: 0.2em;

    background-color: #7BBB5D;
    color: black;
    font-weight: 600;
    width: 13.5em;
    border-radius: 10px;
    cursor: pointer;

    height: 3.2em;
    font-size: calc(var(--body-size) + 1px);
    cursor: pointer;

    border: none;
}

.modificar-button {
    text-decoration: underline;
    cursor: pointer;
    font-size: calc(var(--body-size) - 2px);
}

#display-horari {
    display: flex;
    flex-direction: column;
}

#dia-avui {
    font-weight: 500;
    font-size: var(--body-size);
    margin-top: -2px;
    text-decoration: underline;
}