.logo {
    height: 80px;
}

.div-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sidebar {
    background-color: #EAE8FF;
    padding: 3em;
    width: 15em;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

html {
    margin: 0;
    height: 100%;
}

.sidebar li {
    list-style-type: none;
    margin-bottom: 1em;
    cursor: pointer;

}

.icon {
    height: 40px;
    width: 40px;
    margin-bottom: 1em;
    margin-left: -5px;
}