.logo {
    height: 80px;
}

.div-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.div-total-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-center {
    position: absolute;
    left: 4em;
    transform: translate(-8%, 0);
    z-index: 1;
}

.sidebar {
    background-color: #d9d9d9;
    padding: 2.5em;
    padding-inline: 1.2em;
    width: 13em;
    height: 100%;

    border-right: 1px solid black;
    z-index: 99;
    transition: all 0.3s ease;
}

body {
    margin: 0;
    height: 100%;

    display: flex;
    flex-direction: row;
}

html {
    margin: 0;
    height: 100%;
}

.sidebar li {
    list-style-type: none;
    margin-left: 1em;
    cursor: pointer;
    /*display: none;*/
    transition: all 0.15s ease;
    opacity: 1;
    text-wrap: nowrap;
}

.icon {
    height: 30px;
    width: 30px;
    margin-bottom: 1em;
    margin-left: -3px;
}

.icon-small {
    height: 20px;
    width: 20px;
}

.menu-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5em;
    position: relative;
    cursor: pointer;
}

.menu-option img {
    z-index: 2;
}

#toggle-menu {
    cursor: pointer;
    margin-bottom: 2em;
}

.collapsed-text {
    display: none;
}

.collapsed {
    width: 4em;
}

.selected::before {
    content: "";
    width: 2.5em;
    border-radius: 50%;
    height: 2.5em;
    background-color: #a9a4ff;
    position: absolute;
    left: 0;
    transform: translate(-20%, 0);
    z-index: 0;
}

.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}